{% if changes|length %}
    <p>Changes by task:</p>
    <ul>
        {% for change in changes %}
        <li>{{ change }}:
            {% for host in changes[change] %}
            <ul>
                <li>
                    <p>{{ host }}</p>
                </li>
            </ul>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No changes detected.</p>
{% endif %}